<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chatwing.whitelabel">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- GCM permissions -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!-- Permission to prevent other apps from registering and receiving our messages -->
    <!-- The permission must exactly match the pattern:  applicationPackage + ".permission.C2D_MESSAGE" -->

    <!-- Upload avatar from sd card-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <application
        android:name=".ChatWingApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.ChatWing">
        <activity
            android:name=".activities.ExtendCommunicationActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.ChatWing">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="chatwing.com"
                    android:pathPattern="/chatbox/.*"
                    android:scheme="http" />
                <data
                    android:host="chatwing.com"
                    android:pathPattern="/chatbox/.*"
                    android:scheme="https" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.WalkthroughActivity"
            android:label="@string/title_activity_walkthrough"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>

        <!--Include the AdActivity configChanges and theme. -->
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name=".activities.StartActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            >

        </activity>

        <activity
            android:name=".activities.LegacyLoginActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.ChatWing" />
        <activity
            android:name=".activities.RegisterActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.ChatWing" />
        <activity
            android:name=".activities.SearchChatBoxActivity"
            android:label="@string/title_activity_search_chat_box"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/chat_box_searchable" />
        </activity>
        <activity
            android:name=".activities.CreateChatBoxActivity"
            android:label="@string/title_activity_create_chat_box"
            android:windowSoftInputMode="adjustResize|stateVisible"></activity>

        <activity
            android:name=".activities.MainPreferenceActivity"
            android:icon="@drawable/ic_launcher"
            android:label="@string/title_activity_user_profile_preference"
            android:theme="@style/Theme.ChatWing" />
        <activity
            android:name=".activities.NoMenuWebViewActivity"
            android:icon="@drawable/ic_launcher"
            android:theme="@style/Theme.ChatWing" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />

        <activity android:name=".activities.CommunicationActivity"
            android:theme="@style/Theme.ChatWing"
            android:icon="@drawable/ic_chatwing"/>

        <service android:name=".services.CreateConversationIntentService" />
        <service android:name=".services.LoadChatBoxDetailsService" />
        <service android:name=".services.CreateMessageIntentService" />
        <service android:name=".services.SyncCommunicationBoxesIntentService" />
        <service android:name=".services.AckConversationIntentService" />
        <service android:name=".services.AckChatboxIntentService" />
        <service android:name=".services.UpdateGcmIntentService" />
        <service android:name=".services.OfflineIntentService" />
        <service android:name=".services.NotificationIntentService" />
        <service android:name=".services.NotificationStatusIntentService" />
        <service android:name=".services.UpdateNotificationSettingsService" />
        <service android:name=".services.GetMessagesIntentService" />


        <service android:name=".services.UpdateAvatarIntentService" />
        <service android:name=".services.UpdateUserProfileService" />
        <service android:name=".services.DeleteMessageIntentService" />
        <service android:name=".services.BlockUserIntentService" />
        <service android:name=".services.IgnoreUserIntentService" />
        <service android:name=".services.FlagMessageIntentService" />
        <service android:name=".services.DownloadUserDetailIntentService" />
        <service android:name=".services.VerifyEmailIntentService" />
        <service android:name=".services.SyncBookmarkIntentService" />
        <service android:name=".services.CreateBookmarkIntentService" />
        <service android:name=".services.DeleteBookmarkIntentService" />
        <service android:name=".services.MusicService">
            <intent-filter>
                <action android:name="${applicationId}.action.TOGGLE_PLAYBACK" />
                <action android:name="${applicationId}.action.PLAY" />
                <action android:name="${applicationId}.action.PAUSE" />
                <action android:name="${applicationId}.action.NEXT" />
                <action android:name="${applicationId}.action.BACK" />
                <action android:name="${applicationId}.action.STOP" />
                <action android:name="${applicationId}.action.PLAY_INDEX" />
                <action android:name="${applicationId}.action.PLAY_LAST_IF_STOPPING" />
            </intent-filter>
            <intent-filter>
                <action android:name="${applicationId}.action.URL" />
            </intent-filter>
        </service>


        <!-- FB 3.0 section -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/fb_app_id" />

        <activity android:name="com.facebook.LoginActivity" />
        <!-- End of Fb 3.0 section -->
        <provider
            android:name=".contentproviders.ChatWingContentProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false" />

        <provider
            android:name=".contentproviders.SearchChatBoxSuggestionsProvider"
            android:authorities="${applicationId}.SearchChatBoxSuggestionsProvider"
            android:exported="false" />


        <receiver
            android:name=".receivers.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <category android:name="${applicationId}"/>
            </intent-filter>
        </receiver>


        <receiver android:name=".utils.MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>


        <!-- Crashlytics -->
        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="89c22334cc2e886b1c091b4f1b544dde2d2e2028" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
